.header {
    padding: 60px;
    text-align: center;
    background-image: url(../resources/background.png);
    background-repeat: repeat-y;
    background-size: 100%;

    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    letter-spacing: 3.6px;
    word-spacing: 2.8px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}

footer{
    padding: 10px;
    text-align: center;
    background: #00092a;
    color: white;
    margin-top: 30px;
    font-size: 15px;
}

.table-cell {
    height:60px;
    width: 60px;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
}

.numbering {
    font-weight: bold;
}

.field {
    background-color: lightblue;
}

h1 {
    text-align: center;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}

table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
    margin: 0 auto;
    text-align: center;
    width: 15% !important;
    margin-bottom: 30px;
}

.input-group-hidden {
    margin: 0 auto;
    text-align: center;
    width: 15% !important;
    margin-bottom: 30px;
    display: none !important;
}

.centered-text {
    text-align: center;
    width: 100% !important;
    margin-bottom: 30px;
}

.centered-text-hidden {
    text-align: center;
    width: 100% !important;
    margin-bottom: 30px;
    display: none !important;
}

#table-div {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

#table-grid-a {
    float: left;
}

#table-grid-b {
    float:right;
}

.disabled-look {
    opacity: 50%;
}

#heading-a, #ships-a{
    width: 50%;
    text-align: left;
    float: left;
}

#heading-b, #ships-b{
    width: 50%;
    text-align: right;
    float: right;
}
